/Users/muhammadabdelmohsen/Desktop/ML & DL & LLM Projects/Langgraph/.env
/Users/muhammadabdelmohsen/Desktop/ML & DL & LLM Projects/llmEnv
/Users/muhammadabdelmohsen/Desktop/ML & DL & LLM Projects/ML_NN_Env