Langgraph/.env
llmEnv
ML_NN_Env
DogBreedsClassification/dog-breed-identification
DogBreedsClassification/dog-breeds
DogBreedsClassification/Images
DogBreedsClassification/test
DogBreedsClassification/train
DogBreedsClassification/val
Dogs_CatsClassification/CatvsDogs
CodeGPT/.env
CodeGPT/.DS_Store
AppleStockPrediction/Apple_StockPreds.csv
AppleStockPrediction/HistoricalQuotes.csv
AppleStockPrediction/portfolio_data.csv
AppleStockPrediction/TSLA.csv
Tourism_Recommender/Implementation/BeforeMerging
Tourism_Recommender/Implementation/.env
Tourism_Recommender/Implementation/Client.py
VEXA-MACOS_Assistant/.env
VEXA-MACOS_Assistant/WAVs
CallCenterAgent
.env
*.env
*final_mental_emotion_model/
*.DS_Store
*__pycache__/